<a href="https://colab.research.google.com/github/jiraiya1729/practise/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

To find the sum of natural numbers (0 to 10)

In [ ]:
sum = 0
for i in range(11):
    sum += i
print(sum)

55

Count digits

In [ ]:
n = input()
print(len(n))

3459
4

check palindrome

In [ ]:
n = input()
reversed = n[::-1]
if n == reversed:
  print("palindrome")
else:
  print("not a palindrome")

989
palindrome

factorial of a number

In [ ]:
def fact(n):
  if n==1 or n==0:
    return 1
  return n*fact(n-1)

n = input()
print(fact(int(n)))

5
120